.wrapper {
  background-color: darkblue;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0 40px;
  border-radius: 8px;
  height: 70px;
  align-items: center;
}

.navItem {
  height: 100%;
  display: flex;
  align-items: center;
}

.navItem a {
  text-decoration: none;
  color: darkgrey;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar h3 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
}

.activeTab {
  color: blue;
  border-bottom: 4px solid blue;
}

.navbar h3:hover {
  color: blue;
}
